<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Working</title>
</head>
<body>
	<div>
		<h3>
			Register:
		</h3>
		<p>
			The API for register lies at '/register' route
		</p>
	</div>
	<div>
		<h3>
			Register:
		</h3>
		<p>
			The API for register lies at '/register' route
		</p>
	</div>
	<div>
		<h3>
			Register:
		</h3>
		<p>
			The API for register lies at '/register' route
		</p>
	</div>
</body>
</html>
